html, body {
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    width: 800px;
    min-width: 800px;
}

.section {
    border-radius: 5px;
    box-shadow: 1px 1px 2px #000;
    margin: 1rem;
    padding: 1rem;
    width: auto;
}

.error {
    border: 1px solid red;
}

.error-text {
    color: red;
    margin-top: .5rem;
}
 
.flex-center {
    display: flex;
    align-items: center;
    gap: .75rem;
}

.label {
    font-weight: 600;
}

.add-section {
    margin: 1rem;
    display: flex;
    align-items: center;
    gap: .75rem;
}

.add-error {
    color: red;
    text-align: center;
}

.result-container {
    margin: 1rem;
}